# Framework principal
langchain==0.3.27
langchain_huggingface==0.3.1
langchain-community==0.3.29

# Embeddings
sentence-transformers==5.1.0
transformers==4.55.4
torch==2.8.0

# Vectorstore
faiss-cpu==1.12.0

# Interfaz web
streamlit==1.49.0